.searchBox {
    border: 1px solid @contrastColor;
    background-color: @hoverBgColor;
}

.searchBox:hover {
    border: 1px solid @highlight2Color;
    background-color: @hoverBg2Color;
}

.searchBox .es-edit, .searchBox .es-select {
    background-color: transparent;
    border: none !important
}

.searchBox .editable-select:hover > .es-edit  {
    border: none !important;
}

.editable-select:hover > .es-select {
    fill: @highlight2Color;
    background-color: @darkBgColor;
    border: 1px solid @highlight2Color;
    border-left-width: 0px;
}

.editable-select:hover > .es-edit {
    border: 1px solid @highlight2Color;
}

.editable-select:active > .es-select {
    fill: @textColor;
    background-color: @highlight2Color;
}

.editable-select[data-focused] > .es-select {
    fill: @textColor;
    background-color: @highlight2Color;
    border: 1px solid @highlight2Color;
    border-left-width: 0px;
}

.dropdownitem[data-focused], .dropdownitem[data-selected] {
    color:white;
    fill: @borderColor;
}

.dropdownitem.lvItem:not([data-selected]) {
    background-color: @darkBgColor;
    border-color: none;
    color: white;
	
    &[data-hover]:not([data-disabled]) {
		background-color: @buttonBgColor;
	}
}

.searchBox .es-edit,
.searchBox .es-select {
    color: @textColor;
    fill: @textColor;    
}

.es-select, .flex > .es-select {
    background-color: @tertiaryColor;
    border: 1px solid @borderColor;
    border-left-width: 0px;
    fill: #999999;
    // &:hover:not([data-disabled]) {
    //     fill: @highlight2Color;
    //     background-color: @darkBgColor;
    //     border: 1px solid @highlight2Color;
    //     border-left-width: 0px;
    // }
    // &:active:not([data-disabled]) {
    //     fill: @textColor;
    //     background-color: @highlight2Color;
    //     border-left-width: 0px;
    // }
}