name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - dev
  pull_request:
    branches: 
      - master

env:
  EXTENSION_FILE_NAME: codemonkey.mmip 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Remove images
      shell: pwsh
      run: |
        Get-ChildItem "${{ github.workspace }}\images\" -Exclude thumb.png | Remove-Item -Verbose
        Write-Output "RUN_NUMBER $GITHUB_RUN_NUMBER"
        ${{ github.run.number }}
        ${{ env.GITHUB_RUN_NUMBER }}
        $env:GITHUB_RUN_NUMBER

    - name: Get Variables
      run: printenv
    
    - name: Zip Files
      run: cd '${{ github.workspace }}' && zip -r ${{ env.EXTENSION_FILE_NAME }} . -x ".git/*" ".github/*"
    
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: extension
        path: ${{ github.workspace }}/${{ env.EXTENSION_FILE_NAME }}

