# This is a basic workflow to help you get started with Actions

name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - dev
  pull_request:
    branches: 
      - master

env:
  EXTENSION_FILE_NAME: codemonkey.mmip 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Remove images
      shell: pwsh
      run: |
        Get-ChildItem "${{ github.workspace }}\images\" -Exclude thumb.png | Remove-Item -Verbose
        Write-Output "Workspace ${{ github.workspace }}"
        Write-Output "RunId ${{ github.run.it }}"
        Write-Output "RunNumber ${{ github.run.number }}"
        Write-Output "$env:"
    
    - name: Zip Files
      run: cd '${{ github.workspace }}' && zip -r ${{ env.EXTENSION_FILE_NAME }} . -x ".git/*" ".github/*"
    
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: extension
        path: ${{ github.workspace }}/${{ env.EXTENSION_FILE_NAME }}

