# This is a basic workflow to help you get started with Actions

name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - dev
  pull_request:
    branches: 
      - master

env:
  EXTENSION_FILE_NAME: codemonkey.mmip 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      
    - name: RunId
      shell: pwsh
      run: |
        Write-Output "Workspace ${{ github.workspace }}"
        Write-Output "RunId ${{ github.run.it }}"
        Write-Output "RunNumber ${{ github.run.number }}"

    - name: Remove build items
      shell: pwsh
      run: |
        Get-ChildItem "${{ github.workspace }}\images\" -Exclude thumb.png | Remove-Item -Verbose
        # Remove-Item "${{ github.workspace }}\.github" -Recurse -Verbose
        Get-ChildItem "${{ github.workspace }}"
                
    #- name: Zip Files
    #  uses: papeloto/action-zip@v1
    #  with:
    #    files: ${{ github.workspace }}
   #     dest: ${{ env.EXTENSION_FILE_NAME }}
    #    recursive: true
      
    - uses: montudor/action-zip@v0.1.0
      with:
        args: zip -qq -r "./mediamonkey-codemonkey/codemonkey.zip" "./mediamonkey-codemonkey"
      
    #- name: Zip Files
    #  uses: thedoctor0/zip-release@master
    #  with:
    #    filename: ${{ env.EXTENSION_FILE_NAME }}
    #    path: ${{ github.workspace }}
    #    exclusions: '*.git*'

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: extension
        path: ${{ github.workspace }}\${{ env.EXTENSION_FILE_NAME }}

