name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - dev
  pull_request:
    branches: 
      - master

env:
  EXTENSION_FILE_NAME: codemonkey.mmip 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Remove images
      shell: pwsh
      run: |
        Get-ChildItem "${{ github.workspace }}\images\" -Exclude thumb.png | Remove-Item -Verbose
        $env:GITHUB_RUN_NUMBER

    - name: Set version
      shell: pwsh
      run: |
        $infoFile = '${{ github.workspace }}\info.json'
        $fileContent = Get-Content $infoFile | ConvertFrom-Json
        $fileVersion = [Management.Automation.SemanticVersion]::Parse($fileContent.version)
        $version = [Management.Automation.SemanticVersion]::new($fileVersion.Major, $fileVersion.Minor, $env:GITHUB_RUN_NUMBER)
        
        Write-Output "Setting version to $version"
        Write-Output "::debug::Setting version to $version"
        Write-Output "::set-env name=VERSION::$($version.ToString())"
        
        $fileContent.version = $version.ToString()
        $fileContent | ConvertTo-Json -Depth 99 | Set-Content $infoFile
        Get-Content $infoFile
        
    - name: Check Version
      shell: pwsh
      run: |
        Write-Output $env:VERSION
        gci env:
    
    - name: Zip Files
      run: cd '${{ github.workspace }}' && zip -r ${{ env.EXTENSION_FILE_NAME }} . -x ".git/*" ".github/*"
    
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: extension
        path: ${{ github.workspace }}/${{ env.EXTENSION_FILE_NAME }}
        
    - name: Create Release
      uses: actions/create-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: true
        prerelease: true
